body{
  margin:0;
  padding:0;
  background-color: #141414;
  color:#ffffff;
  font-family: tahoma;
}

.header{
  padding:0em 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom:2px solid rgb(117, 117, 117);
  box-shadow: 0 2px 18px rgba(0,0,0,0.6);
}

.section-title{
  flex:1;
}

.search input{
  border-radius: 3px;
  padding:.8em 2em;
}

.noMovies{
  padding: 4em;
  text-align: center;
}

.movies-list{
  display: flex;
  overflow-y: hidden;
  overflow-x: auto;
  flex-direction: row;
}

.img-item{
  position: relative;
  margin:3em 1em;
  transition: transform .25s ease;
}

.img-item:hover{
  transition: transform .25s ease;
  transform: scale(1.07);
}

.img-overlay{
  cursor:pointer;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  text-align: center;
  width:100%;
  opacity:0;
  font-size: 15px;
  background-color: rgba(0,0,0,0.7);
  display: block;
  transform: .4s ease;
  padding:1.5em 0em;
}

.img-item:hover .img-overlay{
  opacity: 1;
}

.movies-list img{
  height: 300px;
  width:200px;
}

.fav-heart{
  color:red;
}